# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing

/coverage
/*******  9afabf70-ec12-4429-86c9-9fd27f0c59c6  *******/

# next.js
/.next/
/out/

# production
/build

# static site generator
.next-sitemap.xml
/*******  e276d2c2-4ac9-4446-8d3b-b2d0ad94518c  *******/
# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
